{{#if isAdmin}}
<div class="row">
  <div class="col-10 mx-auto mt-3">
  {{> message}}
  </div>
  <div class="col-12 mx-auto home">
    <div class="row col-6 d-flex mx-auto justify-content-center">
      <a href="/train" class="btn btn-dark active mx-3" role="button" hidden>Train</a>
      <div class="col-12 d-flex align-items-center justify-content-center">
        <label class="m-5 label-title">公司帳號資料:</label>
        <a href="/adminCompany" class="btn btn-success active col-3" role="button">設定</a>
      </div>
    </div> 

    <div class="row col-6 d-flex mx-auto justify-content-center">
      <div class="col-12 d-flex align-items-center justify-content-center">
        <label class="m-5 label-title">公司資訊類別:</label>
        <a href="/adminCompanyInfo" class="btn btn-success active col-3" role="button">設定</a>
      </div>
    </div> 

    <div class="row col-6 d-flex mx-auto justify-content-center">
      <div class="col-12 d-flex align-items-center justify-content-center" id="position-block">
        <label class="m-5 label-title">公司職缺類別:</label>
        <div class="position-detail-block">
          {{#if notRead}}<div><a href="/adminPositionInfo/notRead" class="not-read-block">今日新增：{{notRead}}</a></div>{{/if}}
          {{#if notTrained}}<div><a href="/adminPositionInfo/notTrained" class="not-trained-block">未訓練：{{notTrained}}</a></div>{{/if}}
        </div>
        <a href="/adminPositionInfo" class="btn btn-success active col-3" role="button">設定</a>
      </div>
    </div>

    <div class="row col-6 d-flex mx-auto justify-content-center">
      <div class="col-12 d-flex align-items-center justify-content-center">
        <label class="m-5 label-title">公司產業類別:</label>
        <a href="/adminIndustryInfo" class="btn btn-success active col-3" role="button">設定</a>
      </div>
    </div> 

    <div class="row col-6 d-flex mx-auto justify-content-center">
      <div class="col-12 d-flex align-items-center justify-content-center">
        <label class="m-5 label-title">公司假別類別:</label>
        <a href="/adminLeaveInfo" class="btn btn-success active col-3" role="button">設定</a>
      </div>
    </div>

    <div class="row col-6 d-flex mx-auto justify-content-center">
      <div class="col-12 d-flex align-items-center justify-content-center">
        <label class="m-5 label-title">公司補助類別:</label>
        <a href="/adminSubsidyInfo" class="btn btn-success active col-3" role="button">設定</a>
      </div>
    </div>

    <div class="row col-12 d-flex mx-auto justify-content-start">
      <div class="col-6 d-flex align-items-center justify-content-center">
        <label class="m-5 label-title">公司回覆查詢:</label>
        <a href="/adminSearch" class="btn btn-success active col-3" role="button">設定</a>
      </div>
    </div> 

  </div>
</div>
{{else}}
<div class="row">
  <div class="col-6 mx-auto mt-3">
  {{> message}}
  </div>
  <div class="col-12 mx-auto home">
    <div class="row col-6 d-flex mx-auto justify-content-center">
      <a href="/train" class="btn btn-dark active mx-3" role="button" hidden>Train</a>
      <div class="col-8 d-flex align-items-center justify-content-center">
        <label class="m-5 label-title">公司資訊:</label>
        <a href="/company" class="btn btn-success active col-3" role="button">設定</a>
      </div>
    </div> 

    <div class="row col-6 d-flex mx-auto justify-content-center">
      <div class="col-8 d-flex align-items-center justify-content-center">
        <label class="m-5 label-title">職缺設定:</label>
        <a href="/position" class="btn btn-success active col-3" role="button">設定</a>
      </div>
    </div>

    <div class="row col-6 d-flex mx-auto justify-content-center">
      <div class="col-8 d-flex align-items-center justify-content-center">
        <label class="m-5 label-title">補助津貼:</label>
        <a href="/subsidy" class="btn btn-success active col-3" role="button">設定</a>
      </div>
    </div>

    <div class="row col-6 d-flex mx-auto justify-content-center">
      <div class="col-8 d-flex align-items-center justify-content-center">
        <label class="m-5 label-title">假別設定:</label>
        <a href="/leave" class="btn btn-success active col-3" role="button">設定</a>
      </div>
    </div>

    <div class="row col-6 d-flex mx-auto justify-content-center">
      <div class="col-8 d-flex align-items-center justify-content-center">
        <label class="m-5 label-title">通知問候:</label>
        <a href="/greet" class="btn btn-primary active col-3" role="button">設定</a>
      </div>
    </div>

    <div class="row col-6 d-flex mx-auto justify-content-center">
      <div class="col-8 d-flex align-items-center justify-content-center">
        <label class="m-5 label-title">預設回覆:</label>
        <a href="/defaultRes" class="btn btn-primary active col-3" role="button">設定</a>
      </div>
    </div>
  </div>
</div>
{{/if}}