
<div class="row">
  <div class="col-12 mx-auto">
    <div class="row d-flex mx-auto justify-content-center">
      <a href="/train" class="btn btn-dark active mx-3" role="button" hidden>Train</a>
      <div class="col-8 d-flex align-items-center justify-content-center">
        <label class="m-5 label-title">公司資訊:</label>
        <a href="/company" class="btn btn-success active col-3" role="button">設定</a>
      </div>

      <div class="col-8 d-flex align-items-center justify-content-center">
        <label class="m-5 label-title">通知問候:</label>
        <a href="/greet" class="btn btn-primary active col-3" role="button">設定</a>
      </div>

      <div class="col-8 d-flex align-items-center justify-content-center">
        <label class="m-5 label-title">職缺設定:</label>
        <a href="/position" class="btn btn-success active col-3" role="button">設定</a>
      </div>

      <div class="col-8 d-flex align-items-center justify-content-center">
        <label class="m-5 label-title">預設回覆:</label>
        <a href="/default" class="btn btn-primary active col-3" role="button">設定</a>
      </div>
    </div>
  </div>
</div>