    <div class="container d-flex flex-column align-items-center home-container m-5">
      <a href="/train" class="btn btn-dark active mx-3" role="button" hidden>Train</a>
      <div>
        <label class="m-5">公司資訊:</label>
         <a href="/company" class="btn btn-success active" role="button">設定</a>
      </div>

      <div>
        <label class="m-5">通知問候:</label>
        <a href="/greet" class="btn btn-primary active" role="button">設定</a>
      </div>

      <div>
        <label class="m-5">職缺設定:</label>
        <a href="/position" class="btn btn-success active" role="button">設定</a>
      </div>

      <div>
        <label class="m-5">預設回覆:</label>
        <a href="/default/add" class="btn btn-success active" role="button">新增</a>
        <a href="/default/edit" class="btn btn-primary active mx-3" role="button">編輯</a>
      </div>
    </div>
