<div class="row mt-5">
  <div class="col-md-8 m-auto">
    <div class="card card-body">
      <h1 class="text-center mt-3">新增職位</h1>
      {{> message}}
      <form action="/position" method="POST">
        <div class="modal-body">

          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <label class="input-group-text" for="category">職位名稱</label>
            </div>
            <select class="custom-select" id="category" name="category" required>
              <option value="" selected hidden>請選擇</option>
              {{#each category}}
              <option value="{{this.POSITION_ID}}">{{this.POSITION_NAME}}</option>
              {{/each}}
            </select>
          </div>

          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">職位資訊</span>
            </div>
            <textarea type="text" class="form-control" name="des" placeholder="請輸入職位需求、工作內容、薪資" aria-label="inputDes"
              aria-describedby="des" rows="10" required>{{ des }}</textarea>
          </div>

        </div>
        <div class="modal-footer">
          <a href="/position" class="btn btn-outline-info">取消</a>
          <button type="submit" class="btn btn-primary confirm-btn" id="confirm-create">新增</button>
        </div>
      </form>
    </div>
  </div>
</div>